@model WebAssignment.Models.Recommendation
@{
    ViewBag.Title = "SelectSuggestion";
}

<h2>- @Model.Title ( @Model.ReleaseDate ) -</h2>

<div id="topLine"></div>
<p id="description">@Model.Review</p>
<div id="topLine"></div>

